    .background_wrapper{
        background-color: #999999;
        justify-content: center;
        display: flex;
        height: 620px;
    }
    .background_container{
        display: flex;
        flex-direction: column;
        width: 55%;
        margin-top: 3%;

    }
    .logo_wrapper{
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
        
    }
    .filter_wrapper{
    }
    .header {
        background-color: #ff8663;
        height: 45px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        border-radius: 10px 10px 0 0;
    }
    .header__title{
        margin-left: 1%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #ffffff;
    }
    .header_button{
        margin-right: 2%;
    }
    .filter_search{
        background-color: #f0f0f0;
        height: 60px;
        display: flex;
        justify-content: space-around;

    }
    .search_input{
        width: 40%;
        height: 45%;
        border-radius: 20px;
        margin-top: 1.5%;
        border: 0;
        outline-style: none;
    }
    .filter__content-column{
        background-color: #ffffff;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
    }
    .filter__content-column--left{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    .filter_title{
        text-align: center;
        height: 20%;
        margin-top: 2%;
        margin-bottom: 2%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #4f4f4f
    }
    .friends{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .friend{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .name{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .active{
        background-color: #f0f0f0;
    }
    .filter__content-column--right{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    .avatar{
    }
    .avatar_img{
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
        margin-left: 5%;
        margin-top: 5%;
    }
    .list_button{
        margin-right: 4%;
    }
    .footer{
        background-color: #f0f0f0;
        display: flex;
        justify-content: flex-end;
        height: 46px;
        border-radius: 0 0 10px 10px;
        align-items: center;
        
    }
    .footer_submit{
        border-radius: 10px;
        border: 0;
        outline-style: none;
        height: 30px;
        margin-right: 2%;
        background-color: #ff8663;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #ffffff;
    }